[duplicate_pin_override]
pins: EBBCan:PB6, Turtle_1:HUB

# Tool head sensor located before the extruder gears
[filament_switch_sensor Tool_Start]
switch_pin: ^!EBBCan:PB6
pause_on_runout: False

# Hub sensor located in the BoxTurtle
# [filament_switch_sensor Hub]
#  switch_pin: ^Turtle_1:HUB
# pause_on_runout: False

#############################
### Enclosure Temperature ###
#############################
# [temperature_sensor A-Chamber]
# sensor_type: Generic 3950
# sensor_pin: PA2
# min_temp: -80
# max_temp: 80